<header class="site-header">
  <nav class="navbar">
    <div class="navbar-brand">
      <%= link_to "Plant Tracker", if authenticated? then plants_path else root_path end, class: "navbar-item" %>
    </div>
    <div class="navbar-menu">
      <ul class="navbar-links">
        <% if authenticated? %>
          <li><%= link_to "My Plants", plants_path %> | <%= link_to "Logout", session_path, data: { "turbo-method": :delete }, class: "logout-link" %></li>
        <% else %>
          <li><%= link_to "Login", login_path, class: "login-link" %> | <%= link_to "Sign Up", signup_path, class: "signup-link" %></li>
        <% end %>
      </ul>
    </div>

    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
    <%= turbo_stream.append "flashes" do %>
      <% if flash[:alert] %>
        <div style="color: pink;"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div style="color: pink;"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:success] %>
        <div style="color: pink;"><%= flash[:success] %></div>
      <% end %>
    <% end %>
  </nav>
</header>